
<div class="row mt-5">
    {{#if message}}
        <h4>{{message}}</h4>
    {{/if}}
    <div class="col-12">
        <h3>Users Registered: {{users.length}}</h3>
        {{!-- <h3>Check-out Date:{{check_out_date}}</h3>
        <h3>Number Of Guests: {{guests}}</h3>
        <h2>Available Rooms: {{#if rooms}} {{rooms.length}} {{/if}}</h2> --}}
    </div>
</div>


{{#if users}}
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    {{!-- <th class="d-print-none">
                        <a class="btn btn-sm btn-success" href="/add">Add</a>
                    </th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each users}} 
                {{!-- mono gia ta available rooms!! --}}
                    <tr>
                        <td>{{this.userID}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.firstName}}</td>
                        <td>{{this.lastName}}</td>
                        
                        <td>
                            <a class="btn btn-sm btn-secondary" href="/adminDeleteUser?userID={{this.userID}}">Delete User</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
            <div class="row mt-2">
                <div class="col">
                    <a class="btn btn-sm btn-secondary" href="/adminAddUser">Add User</a>
                </div>
            </div>
        </table>
    </div>
{{/if}}
{{#unless users}}
    <div class="row mt-5">
        <div class="col">No Users Found!</div>
    </div>
{{/unless}}
{{#if error}} 
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="alert alert-primary" role="alert">
                {{error}}
            </div>
        </div>
    </div>
{{/if}}