<form action="/doCompleteBoooking" method="post" class="myForm">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h3>{{selectedID}}</h3>
            </div>
        </div>
        <fieldset class="border p-2 mb-3">
            <legend class="w-auto">Guest Information</legend>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="firstName" class="col-form-label">First Name</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="text" class="form-control" id="firstName" value="{{firstName}}" name="firstName" placeholder="firstName" required>
                    
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="lastName" class="col-form-label">Last Name</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="text" class="form-control" id="lastName" value="{{lastName}}" name="lastName" placeholder="lastName" required>
                    
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="email" class="col-form-label">Email</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="email" class="form-control" id="email" value="{{email}}" name="email" placeholder="email" required>
                    
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="phone" class="col-form-label">Phone</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="text" class="form-control" id="phone" value="{{phone}}" name="phone" placeholder="phone" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="paymentMethod" class="col-form-label">Payment Method</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="text" class="form-control" id="paymentMethod" value="{{paymentMethod}}" name="paymentMethod" placeholder="paymentMethod" required>
                </div>
            </div>
            </div>
        </fieldset>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary mb-3">Confirm</button>
            </div>
        </div>
    </div>
</form>