
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sidebar">
      <ul>
        <li><a href="/adminShowUsers">Users</a></li>
        <li><a href="/adminShowBookings">Bookings</a></li>
        {{!-- <li><a href="/adminShowAvailability">Availability</a></li> --}}
      </ul>
    </div>

    <div> <h3>Bookings: {{bookings.length}}</h3></div>
    
    {{#if bookings}}
        
        <div class="table-responsive-sm">
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Reservation ID</th>
                        <th>Reservation's Status</th>
                        <th>User ID</th>
                        <th>Room Number</th>
                        <th>Check-In Date</th>
                        <th>Check-Out Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each bookings}} 
                    {{!-- mono gia ta available rooms!! --}}
                        <tr>
                            <td>{{this.reservationID}}</td>
                            <td>{{this.status}}</td>
                            <td>{{this.UserUserID}}</td>
                            <td>{{this.Rooms_number}}</td>
                            <td>{{this.check_in_date}}</td>
                            <td>{{this.check_out_date}}</td>
                            <td>
                                <a class="btn btn-sm btn-secondary" href="/adminDeleteBooking?reservationID={{this.reservationID}}">Delete Booking</a>
                            </td>
                            {{!-- <td>
                                <a class="btn btn-sm btn-secondary" href="/adminEditBooking?reservationID={{this.reservationID}}">Edit Booking</a>
                            </td> --}}
                        </tr>
                    {{/each}}
                </tbody>
                {{!-- <div class="row mt-2">
                    <div class="col">
                        <a class="btn btn-sm btn-secondary" href="/adminAddBooking">Add Booking</a>
                    </div>
                </div> --}}
            </table>
                <div class="row mt-2">
                    <div class="col">
                        <a class="btn btn-sm btn-secondary" href="/adminAddBooking">Add Booking</a>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        {{#if message}}
                            <div class="row mt-5">
                                <div class="col-6 offset-3">
                                    <div class="alert alert-primary" role="alert">
                                        {{message}}
                                    </div>
                                </div>
                            </div>
                        {{/if}}
           
                    </div>  
                </div>
        {{!-- <h3> {{users}}</h3> --}}
        </div>
    {{/if}}
    {{#unless bookings}}
        <div class="row mt-5">
            <div class="col">No Bookings Found!</div>
        </div>
    
    {{/unless}}
    {{#if error}} 
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <div class="alert alert-primary" role="alert">
                    {{error}}
                </div>
            </div>
        </div>
    {{/if}}
  </div>
</div>

