<form action="/adminDoAddBooking" method="post">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h2 class="text-center">Booking's Info</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <div class="form-floating">
                    <label class="form-label" for="check_in_date">Check-In Date</label>
                    <input type="date" class="form-control" value="{{check_in_date}}" name="check_in_date" id="check_in_date" placeholder="Check-In Date" required="required" autofocus>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <div class="form-floating">
                    <label class="form-label" for="check_out_date">Check-Out Date</label>
                    <input type="date" class="form-control" value="{{check_out_date}}" name="check_out_date" id="check_out_date" placeholder="Check-Out Date" required="required">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <div class="form-floating">
                    <label class="form-label" for="total_price">Total Price</label>
                    <input type="number" class="form-control" value="{{total_price}}" name="total_price" id="total_price" placeholder="Total Price" required="required">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <div class="form-floating">
                    <label class="form-label" for="guests_count">Total Guests</label>
                    <input type="number" class="form-control" value="{{guests_count}}" name="guests_count" id="guests_count" placeholder="Total Guests" required="required">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <div class="form-floating">
                    <label class="form-label" for="paymentMethod">Payment Method</label>
                    <input type="text" class="form-control" value="{{paymentMethod}}" name="paymentMethod" id="paymentMethod" placeholder="Payment Method" required="required">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <div class="form-floating">
                    <label class="form-label" for="userID">User ID</label>
                    <input type="number" class="form-control" value="{{userID}}" name="userID" id="userID" placeholder="User ID" required="required">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <div class="form-floating">
                    <label class="form-label" for="roomID">Room ID</label>
                    <input type="number" class="form-control" value="{{roomID}}" name="roomID" id="roomID" placeholder="Room ID" required="required">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <button type="submit" class="btn btn-secondary btn-block">Add Booking</button>
            </div>
        </div>
    </div>
</form>
