<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sidebar">
      <ul>
        <li><a href="/adminShowUsers">Users</a></li>
        <li><a href="/adminShowBookings">Bookings</a></li>
        <li><a href="/adminShowRooms">Rooms</a></li>
      </ul>
    </div>

    <div class="col-md-9">
      {{#if message}}
      <div class="row mt-5">
        <div class="col-12">
          <div class="alert alert-primary" role="alert">
            {{message}}
          </div>
        </div>
      </div>
      {{/if}}

      <div>
        <h3>Users Registered: {{users.length}}</h3>
      </div>

      {{#if users}}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
            {{!-- mono gia ta available rooms!! --}}
            <tr>
              <td>{{this.userID}}</td>
              <td>{{this.username}}</td>
              <td>{{this.firstName}}</td>
              <td>{{this.lastName}}</td>

              <td>
                <a class="btn btn-sm btn-secondary" href="/adminDeleteUser?userID={{this.userID}}">Delete User</a>
              </td>
            </tr>
            {{/each}}
          </tbody>

        </table>
      </div>
      <div class="row mt-2">
        <div class="col">
          <a class="btn btn-sm btn-secondary" href="/adminAddUser">Add User</a>
        </div>
      </div>
      {{/if}}

      {{#unless users}}
      <div class="row mt-5">
        <div class="col">No Users Found!</div>
      </div>
      {{/unless}}

    </div>
  </div>
</div>
