{{!-- <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1>Add New</h1>
            </div>
        </div>
        <div class="Info" >
            <p>{{check_in_date}} - {{check_out_date}} - {{guests}}- {{rooms}}</p>
        </div>
</div> --}}

<div class="row mt-5">
    <div class="col-12">
        <h3>Check-in Date: {{check_in_date}}</h3>
        <h3>Check-out Date:{{check_out_date}}</h3>
        <h3>Number Of Guests: {{guests}}</h3>
        <h2>Available Rooms: {{#if rooms}} {{rooms.length}} {{/if}}</h2>
     
    </div>
</div>
{{#if rooms}}
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Room</th>
                    <th>Info</th>
                    {{!-- <th class="d-print-none">
                        <a class="btn btn-sm btn-success" href="/add">Add</a>
                    </th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each rooms}}
                    <tr>
                        <td>{{this.number}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.roomID}}</td>
                        {{!-- <td>
                            <input=epilogh posa dwmatia>
                        </td> --}}
                        <td>
                            <a class="btn btn-sm btn-success" href="/bookRoom?roomID={{this.roomID}}">Book</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    <h3> {{rooms}}</h3>
    </div>
{{/if}}
{{#unless rooms}}
    <div class="row mt-5">
        <div class="col"> No Rooms Available!</div>
    </div>
    {{!-- <div class="row mt-2">
        <div class="col">
            <a class="btn btn-sm btn-success" href="/add">Προσθήκη</a>
        </div>
    </div> --}}
{{/unless}}
{{#if error}} 
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="alert alert-primary" role="alert">
                {{error}}
            </div>
        </div>
    </div>
{{/if}}
