<div class="container">
    <div class="row">        
        <div class="col-md-8">
        {{!-- <h2 class="dot">.</h2> --}}
        <h3>Guest's Information</h3>
        <form action="/doCompleteBooking" method="post" class="myForm">
        {{#if username}}
            <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" value="{{firstName}}" name="firstName" placeholder="Enter your first name" required>
            </div>
            <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" value="{{lastName}}" name="lastName" placeholder="Enter your last name" required>
            </div>
            <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" value="{{phone}}" name="phone" placeholder="Enter your phone number" required>
            </div>
            <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" value="{{email}}" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
            <label for="paymentMethod">Payment Method</label>
            <input type="text" class="form-control" id="paymentMethod" value="{{paymentMethod}}" name="paymentMethod" placeholder="Enter your payment method" required>
            </div>

            <input type="hidden" name="roomTypesID" value="{{selectedID}}">
            <input type="hidden" name="roomsCount" value="{{roomsCountArray}}">
            <input type="hidden" name="check_in_date" value="{{checkInDate}}">
            <input type="hidden" name="check_out_date" value="{{checkOutDate}}">
            <input type="hidden" name="guests" value="{{guests}}">
            <input type="hidden" name="rooms" value="{{rooms}}">
            <input type="hidden" name="totalPrice" value="{{totalPrice}}">

            <button type="submit" class="btn btn-secondary">Confirm</button>
        </form>
        </div>
        {{/if}}
        <div class="col-md-4">
            <div class="bookingInfo">
                <h3>Booking Information</h3>
                <h3>{{selectedID}}</h3>
                <div class="card">
                    <img src="../imgs/Double Room.jpg" class="room card-img-top" alt="Room Image" style="padding:5%; width: 100%; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Room Name</h5>
                        <p class="card-text">Check-in: {{checkInDate}}</p>
                        <p class="card-text">Check-out: {{checkOutDate}}</p>
                        <p class="card-text">Number of Guests: {{guests}}</p>
                        <p class="card-text">Number of Rooms: {{rooms}}</p>
                        <p class="card-text">Total Price: €{{totalPrice}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>